<%- include('./partials/header') -%>
    <div class="row">
        <!-- use ejs to iterate through food and drink -->
        <div class="col-8 burgers">
            <h2 class="text-center"> Burgers </h2>
            <% mains.forEach(main=>{ %>
                <div class="row">
                    <div class="col-8">
                        <p class="menuLabel">
                            <%= main.name %>
                            <% if(main.description){ %>
                            <p class="subtext">
                            <%= main.description %>
                            </p>
                            <% } %>
                        </p>
                        <% if(main.flavors){ %>
                        <p class="subtext">
                            <%= main.flavors.join(",").replaceAll(",", " ");%>
                        </p>
                        <% } %>
                    </div>
                    <div class="col-4 text-center">
                        <p class="menuLabel">
                            $<%= main.price.toFixed(2) %>
                        </p>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="col-4 beverages">
            <h2 class="text-center"> Beverages </h2>
            <% drinks.forEach(drink => { %>
                <div class="row">
                    <div class="col-8">
                        <div class="menuLabel">
                            <%= drink.name %>
                        </div> 
                        <% if(drink.flavors){%>
                            <% drink.flavors.forEach(flavor=> { %>
                                <ul>
                                    <li class="flavors">
                                        <%= flavor %>
                                    </li>
                                </ul>
                            <% }) %>
                        <%}%>
                    </div>
                    <div class="col-4 text-end menuLabel">
                        <div>
                            <% if(drink.price){ %>
                            $<%= drink.price.toFixed(2) %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% if(drink.sizes){ %>
                <% const sizes=drink.sizes %>
                <div class="row sizes text-center">
                    <% for(const size in sizes){%>
                        <div class="col menuLabel">
                            <%= size %>
                        </div>
                    <% } %>
                </div>
                <div class="row sizes text-center">
                    <% for(const price in sizes){%>
                        <div class="col menuLabel">
                            $<%= sizes[price].toFixed(2) %>
                        </div>
                    <% } %>
                </div>
                <hr>
                <%}%>
            <% }) %>
        </div>
    </div>
    <div class="row">
        <h3 class="text-center">Ordering as easy as </h3>
        <div class="col-12">
            <div class="row text-center">
                <!-- ejs this area -->
                 <% combos.forEach(combo => { %>
                    <div class="col combo"> 
                        <img class="img-fluid" src="<%=combo.url %>" alt="<%combo.name%>">
                        <p><%= combo.name %> $<%= combo.price %></p>
                    </div>
                 <% })%>
            </div>
        </div>
    </div>
<%- include('./partials/footer') -%>