<%- include('./partials/header') -%>
    <div class="row">
        <div class="col-9 combos">
            <div class="row text-center">
                <!-- ejs this area -->
                <div class="col">Hamburger</div> 
                <div class="col">Cheeseburger</div>
                <div class="col">Double-Double</div>
            </div>
        </div>
        <div class="col-3 text-center">
            Double-Double
        </div>        
    </div>
    <div class="row">
        <!-- use ejs to iterate through food and drink -->
        <div class="col-8">
            <% burgers.forEach(burger=>{ %>
                <div class="row">
                    <div class="col-8">
                        <p class="menuLabel"><%- burger.name %></p>
                    </div>
                    <div class="col-4">
                        <p class="menuLabel"><%- burger.price %></p>
                    </div>
                </div>
                <% }) %>
        </div>
        <div class="col-4">
            <% drinks.forEach(drink=>{ %>
                <div class="row">
                    <div class="col-8">
                        <p class="menuLabel"><%- drink.name %></p>
                        <% if (drink.flavors){ %>
                            <div class="row">
                                <div class="col-6">
                                    <% drink.flavors.forEach(flavor=> { %>
                                        <div class="row">
                                            <div class="col-8">
                                                <ul>
                                                    <li id="drinkFlavors"><%- flavor %></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                                <div class="col-6 text-center">
                                    <% if (drink.sizes){ %>
                                        <b>Sizes</b>
                                        <% for(const size in drink.sizes){%>
                                            <ul>
                                                <li id="drinkSizes"><%- size %>  $<%- drink.sizes[size] %></li>
                                            </ul>
                                        <% }%>
                                    <%}%>
                                </div>
                            </div>
                        <% }%>
                    </div>
                    <div class="col-4">
                        <p class="menuLabel"><%- drink.price %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
<%- include('./partials/footer') -%>