<%- include('./partials/header') -%>

<div class="container-fluid" id="secretMenu">
    <div class="row">
        <h2 class="text-center"> Not So Secret Menu! </h2>
        <% secretMenu.forEach(secret=> { %>
        <div class="col-8">
            <p class="menuLabel">
                <%= secret.name %>
                <% if(secret.description){ %>
                    <p class="subtext">
                        <%= secret.description %>
                    </p>
                <% } %>
            </p>
        </div>
        <div class="col-4 text-end">
            <p class="menuLabel">
                <% if(typeof(secret.price)=== "number"){ %>
                $<%= secret.price.toFixed(2) %>
                <% } else { %>
                <%= secret.price%>
                <% }%>
            </p>
        </div>
        <% }) %>
    </div>
</div>


<%- include('./partials/footer') -%>