<%- include('./partials/header') -%>
<% secretMenu.forEach(secret=> { %>
    <div class="row">
        <div class="col-8">
        <%= secret.name %>
        <p class="subtext"> <%= secret.description %></p>
        </div>
        <div class="col-4">
        <%= secret.price %>
        </div>
        </div>
<% }) %>

<%- include('./partials/footer') -%>